$colors: (
  primary1: #1a237e,
  primary2: #d50000,
  secondary: #1976d2,
  body: #eceff1
);

$linear_gradient: (
  zinc: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea)
);

//function for getting color
@function color($color) {
  @return map-get($map: $colors, $key: $color);
}

//function for getting color
@function gradient($gradient) {
  @return map-get($map: $linear_gradient, $key: $gradient);
}

@font-face {
  font-family: garamond;
  src: url(assets/fonts/Garamond/EBGaramond-ExtraBold.ttf);
}
@font-face {
  font-family: source_sans_pro;
  src: url(assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
}

@font-face {
  font-family: raleway;
  src: url(assets/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway-italic;
  src: url(assets/fonts/Raleway/Raleway-LightItalic.ttf);
}
html,
body,
#root {
  margin: 0;
  background-color: color(body);
  font-family: raleway;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: source_sans_pro;
  text-align: center;
}

.heading_foundation {
  color: #4b4453;
  // color: #e9ebf0;
}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.slogan {
  font-size: 24px;
  font-family: raleway-italic;
  color: black;
  text-align: center;
}
.rounded-btn {
  width: 70px;
  height: 70px;
  padding: 16px 18px;
}

.rounded-btn:hover {
  border: 1px solid #78909c;
  border-radius: 50%;
  background: gradient(zinc);
}

.icon-right {
  position: absolute;
  right: 20%;
}
